.dayAcardion.grid-content
  %nav.animated.bounceInDown
    %ul
      / day 1
      %li.sub-menu.wi-shadow.w-elem
        .wrapLink
          %a.countDay{:href => "#message"} Day 1
          .arrows
            %i.fa.fa-angle-up
        %ul
          %li
            .acardionContent
              .timLine.wi-timeline.w-elem
                .time1 10.00
                .time2 15.00
                .time3 18.00
              .map
                %img{:src => "images/pictures/map.png", :alt => ""}
              .infoCards
                .imgCard
                  %img{:src => "images/pictures/card1.png", :alt => ""}
                .descriptionCard Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit
                .linkCard.wi-shadow-small
                  %a{:href => "#{}", :_target => "blank"}
                    %i.wi-mark-google.w-icon
                    Show on the map
              .infoCards
                .imgCard
                  %img{:src => "images/pictures/card2.png", :alt => ""}
                .descriptionCard Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia
                .linkCard.wi-shadow-small
                  %a{:href => "#{}", :_target => "blank"}
                    %i.wi-mark-google.w-icon
                    Show on the map
              .infoCards
                .imgCard
                  %img{:src => "images/pictures/card3.png", :alt => ""}
                .descriptionCard  Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
                .linkCard.wi-shadow-small
                  %a{:href => "#{}", :_target => "blank"}
                    %i.wi-mark-google.w-icon
                    Show on the map

      / day 2
      %li.sub-menu.wi-shadow.w-elem
        .wrapLink.hide
          %a.countDay{:href => "#message"} Day 2
          .arrows
            %i.fa.fa-angle-down
        %ul
          %li
            .acardionContent
              .map
                %img{:src => "images/pictures/map.png", :alt => ""}
              .infoCards
                .imgCard
                  %img{:src => "images/pictures/card1.png", :alt => ""}
                .descriptionCard Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit
                .linkCard.wi-shadow-small
                  %a{:href => "#{}", :_target => "blank"}
                    %i.wi-mark-google.w-icon
                    Show on the map
              .infoCards
                .imgCard
                  %img{:src => "images/pictures/card2.png", :alt => ""}
                .descriptionCard % Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi autem labore, voluptate provident recusandae, magni!
                .linkCard.wi-shadow-small
                  %a{:href => "#{}", :_target => "blank"}
                    %i.wi-mark-google.w-icon
                    Show on the map
              .infoCards
                .imgCard
                  %img{:src => "images/pictures/card3.png", :alt => ""}
                .descriptionCard  Lorem ipsum dolor sit amet, consectetur
                .linkCard.wi-shadow-small
                  %a{:href => "#{}", :_target => "blank"}
                    %i.wi-mark-google.w-icon
                    Show on the ma
      / day 3
      %li.sub-menu.wi-shadow.w-elem
        .wrapLink.hide
          %a.countDay{:href => "#message"} Day 3
          .arrows
            %i.fa.fa-angle-down
        %ul
          %li
            .acardionContent
              .map
                %img{:src => "images/pictures/map.png", :alt => ""}
              .infoCards
                .imgCard
                  %img{:src => "images/pictures/card1.png", :alt => ""}
                .descriptionCard Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit
                .linkCard.wi-shadow-small
                  %a{:href => "#{}", :_target => "blank"}
                    %i.wi-mark-google.w-icon
                    Show on the map
              .infoCards
                .imgCard
                  %img{:src => "images/pictures/card2.png", :alt => ""}
                .descriptionCard % Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi autem labore, voluptate provident recusandae, magni!
                .linkCard.wi-shadow-small
                  %a{:href => "#{}", :_target => "blank"}
                    %i.wi-mark-google.w-icon
                    Show on the map
              .infoCards
                .imgCard
                  %img{:src => "images/pictures/card3.png", :alt => ""}
                .descriptionCard  Lorem ipsum dolor sit amet, consectetur
                .linkCard.wi-shadow-small
                  %a{:href => "#{}", :_target => "blank"}
                    %i.wi-mark-google.w-icon
                    Show on the map